node_modules
**/node_modules
npm-debug.log

# Private keys can be in there
**/.env

.git
.github/
.husky/
docker-compose.yaml
dev/
**/tsconfig.tsbuildinfo
integration-templates
**/tests/
assets/
vite*.ts
scripts/
cliff.toml
.DS_Store
**/*.unit.test.ts
**/*.integration.test.ts
Dockerfile

.vinxi
.output
build
dist
clickhouse_backup/